.registersArea {
  border-left: 1px solid rgb(211, 211, 211);
}

.react-flow__attribution a{
  display: none;
}

.buttonsArea {
  border-top: 1px solid rgb(211, 211, 211);
}

.custom-node {
  height: 50px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  background: white;
}

.custom-node label, .regbank-node label, .alu-node label, .datamemory-node label,.add-node label {
  display: block;
  text-align: center;
  color: black;
  font-size: 12px;
}

.aux-node {
  height: 0.1em;
  width: 0.1em; 
  border-radius: 0.1em;
  background: #a4a4a9;
}

.control-aux-node {
  height: 0.1em;
  width: 0.1em; 
  border-radius: 0.1em;
  background: #00ADEE;
}

.control-aux-node .top-node {
  height: 0.3em;
  width: 0.1em;
  border: 0;
  background: #00ADEE;
  border-radius: 0;
}

.control-aux-node .side-node {
  height: 0.1em;
  width: 0.3em;
  border: 0;
  background: #00ADEE;
  border-radius: 0;
}

.fork-node {
  height: 5px;
  width: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background: black;
}

.fork-node .top-node, .distributor-node .top-node, .aux-node .top-node {
  height: 4px;
  width: 1px;
  border: 0;
  background: #a4a4a9;
  border-radius: 0;
}

.fork-node .side-node, .distributor-node .side-node, .aux-node .side-node {
  height: 1px;
  width: 4px;
  border: 0;
  background: #a4a4a9;
  border-radius: 0;
}

.distributor-node {
  height: 80px;
  width: 1px;
  background: #a4a4a9;
}

.mux-node {
  height: 60px;
  width: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
}

.regbank-node {
  height: 150px;
  width: 100px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  background: white;
}

.datamemory-node {
  height: 120px;
  width: 80px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  background: white;
}

.alu-node, .add-node {
  height: 70px;
  width: 60px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  background: white;
}

.alucontrol-node {
  height: 50px;
  width: 50px;
  border: 1px solid #00ADEE;
  padding: 5px;
  border-radius: 15px;
  background: white;
}

.alucontrol-node label, .control-node label {
  display: block;
  text-align: center;
  color: #00ADEE;
  font-size: 12px;
}

.control-node {
  height:100px;
  width: 75px;
  border: 1px solid #00ADEE;
  padding: 5px;
  border-radius: 15px;
  background: white;
}






